/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
/node_modules
/public/hot
/public/images/*
/public/video/*
/public/storage/*
/public/storage/app/purifier/CSS/*
/public/storage/app/purifier/HTML/*
/public/storage/app/purifier/URI/*
/public/*.ico
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
inf.db
/bup
/node_modules
/tmp
/log
